{% extends 'layout.html' %}

    <!-- MAIN -->
    <!-- ESTO ES UNA PLANTILLA, PUEDES ELIMINAR TODO EL CONTENIDO DE ESTE HTML Y HACER LAS MODIFICACIONES QUE QUIERAS -->

        {% block main %}
        <h1>Bienvenido a tu plantilla de Flask!!</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, possimus. Molestias odit beatae odio blanditiis nemo, sed possimus placeat animi dicta accusamus recusandae consequuntur hic enim, est officiis, libero veritatis?</p>
        
        {% endblock %}